<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gw-ercp-fas-ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
				<key>dateExpires</key>
				<string>2021/5/2</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HMSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JZNavigationExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LFKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YTKNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9941DBE349E48C295FD6295488169C87B8A8ACEF</string>
						<key>dateExpires</key>
						<string>2021/5/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UX47YY36D4</string>
						<key>name</key>
						<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UX47YY36D4.com.goldwind.fams</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UX47YY36D4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>gw-ercp-fas-ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>480dada9-a115-4b41-8c88-ff46091861e3</string>
				<key>name</key>
				<string>FAMSDis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UX47YY36D4</string>
				<key>name</key>
				<string>BEIJING TIANYUAN NEW ENERGY TECHNOLOGY CO.,LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
